.example-form-field{
    width: 100%;
}
table {
    width: 100%;
    
  }
  .row{
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 12px;
    margin-bottom: 12px;
  }
  .btn{
      width: 50%;
      text-align: center;
      float: right;
  
  
  }
  .action{
      margin-left: 50px;
     text-align: center;
  }
  .addBtn{
      width: 20%;
  }