<div class="row">
    <div class="col-md-12">
        <mat-card>
            <mat-card-header>
                <mat-card-title>License Data</mat-card-title>
              </mat-card-header>
            <form [formGroup]="addLicenseForm" (ngSubmit)="onSubmit()">
                <div class="row">
                    <div class="col-md-6">

                        <mat-form-field class="full-width">
                            <mat-select formControlName="name" name="food">
                                <mat-option *ngFor="let food of foods" [value]="food.value">
                                    {{food.value}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>                                      
                    </div>
                  
                </div> 
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field appearance="fill"  class="full-width">
                            <mat-label > exanple : 11/17/2020</mat-label>
                            <input matInput [matDatepicker]="dp1"  formControlName="created_data">
                            <mat-datepicker-toggle matSuffix [for]="dp1"></mat-datepicker-toggle>
                            <mat-datepicker #dp1></mat-datepicker>
                          </mat-form-field>
                          <span
                          *ngIf="!addLicenseForm.get('created_data').valid && addLicenseForm.get('created_data').touched"
                          class="help-block" style="color: red;">
                          Please enter a valid creationDate!
                       </span>
                    </div>

                    <div class="col-md-6">
                        <mat-form-field appearance="fill"  class="full-width">
                            <mat-label>exanple : 11/17/2020</mat-label>
                            <input matInput [matDatepicker]="dp2"  formControlName="exppired_date">
                            <mat-datepicker-toggle matSuffix [for]="dp2"></mat-datepicker-toggle>
                            <mat-datepicker #dp2></mat-datepicker>
                          </mat-form-field>
                          <span
                          *ngIf="!addLicenseForm.get('exppired_date').valid && addLicenseForm.get('exppired_date').touched"
                          class="help-block" style="color: red;">
                          Please enter a valid exppired_date!
                       </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <button mat-raised-button color="primary" type="submit" style="width: 100%;"
                        [disabled]="!addLicenseForm.valid"
                        >
                           <strong> Add License</strong>
                        </button>
                    </div>
                </div>
            </form>
        </mat-card>    
    </div>
</div>