.<div class="container">
    <div class="row justify-content-md-center" style="margin-top: 10px;">
        <div class="col-md-12">
          <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
            <div class="row">
              <div class="col-md-12">
                  <div class="form-group ">
                    <label for="name">User Name</label>
                    <input type="text" id="name" name="name" class="form-control" formControlName="username">
                    <span
                        *ngIf="!signupForm.get('username').valid && signupForm.get('username').touched"
                        class="help-block" style="color: red;">Please enter a valid user name!
                    </span>
                  </div>
                </div>
              </div>    
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password"class="form-control" formControlName="password">
                    <span
                    *ngIf="!signupForm.get('password').valid && signupForm.get('password').touched"
                    class="help-block" style="color: red;">Please enter a valid password!
                    </span>
                  </div>
                </div>
              </div>   
            <div class="row">
              <div class="col-md-12">
                 <button mat-raised-button style="width: 100%;" color="primary" class="btn btn-primary" type="submit" [disabled]="!signupForm.valid || !signupForm.touched">Sign In</button>
              </div>   
            </div>  
          </form>
        </div>
      </div>
   </div>     
      
