<div class="row">
    <div class="col-md-11">
        <h1 mat-dialog-title>Add Bank</h1>
    </div>
    <div class="col-md-1">
        <mat-icon style="cursor: pointer;" (click)="closePop()">close</mat-icon>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <mat-card>
            <mat-card-header>
                <mat-card-title>Bank Data</mat-card-title>
              </mat-card-header>
            <form [formGroup]="addBankForm" (ngSubmit)="onSubmit()">
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field class="full-width">
                            <mat-label>Full Name</mat-label>
                            <input matInput formControlName="bankname" >
                            
                        </mat-form-field>
                         <span
                            *ngIf="!addBankForm.get('bankname').valid && addBankForm.get('bankname').touched"
                            class="help-block" style="color: red;">
                            Please enter a valid Bank name!
                         </span>             
                    </div>
                    <div class="col-md-6">
                        <mat-form-field class="full-width">
                            <mat-label>country</mat-label>
                            <input matInput formControlName="country" >
                            
                        </mat-form-field>
                        <span
                            *ngIf="!addBankForm.get('country').valid && addBankForm.get('country').touched"
                            class="help-block" style="color: red;">
                            Please enter a valid country!
                         </span>  
                    </div>
                </div> 
                <div class="row">
                    <div class="col-md-12">
                        <button mat-raised-button color="primary" type="submit" style="width: 100%;"
                        [disabled]="!addBankForm.valid">
                             <strong> Add Bank</strong>
                        </button>
                    </div>
                </div>
            </form>
        </mat-card>    
    </div>
</div>