<div class="row">
    <div class="col-md-11">
        <h1 mat-dialog-title>Edit Data</h1>
    </div>
    <div class="col-md-1">
        <mat-icon style="cursor: pointer;" (click)="closePop()">close</mat-icon>
    </div>
</div>
<div class="row" *ngIf="this.license">
    <div class="col-md-12">
        <mat-card>
            <mat-card-header>
                <mat-card-title>User Data</mat-card-title>
              </mat-card-header>
            <form [formGroup]="updateForm" (ngSubmit)="onSubmit()">
                <div class="row">
                        <div class="col-md-6">
                            <mat-form-field class="full-width">
                                <mat-select formControlName="name" name="name">
                                    <mat-option *ngFor="let food of foods" [value]="food.value">
                                        {{food.value}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>  
                        </div>
                    
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field appearance="fill" class="full-width">
                            <mat-label>expiration_date</mat-label>
                            <input matInput [matDatepicker]="dp1" disabled formControlName="expiration_date">
                            <mat-datepicker-toggle matSuffix [for]="dp1"></mat-datepicker-toggle>
                            <mat-datepicker #dp1 disabled="false"></mat-datepicker>
                        </mat-form-field>
                        <span
                            *ngIf="!updateForm.get('expiration_date').valid && updateForm.get('expiration_date').touched"
                            class="help-block" style="color: red;">
                            Please enter a valid expiration_date!
                         </span>  
                    </div>
                    <div class="col-md-6">
                        <mat-form-field appearance="fill" class="full-width">
                            <mat-label>creation_date</mat-label>
                            <input matInput [matDatepicker]="dp1" disabled formControlName="creation_date">
                            <mat-datepicker-toggle matSuffix [for]="dp1"></mat-datepicker-toggle>
                            <mat-datepicker #dp1 disabled="false"></mat-datepicker>
                        </mat-form-field>
                        <span
                            *ngIf="!updateForm.get('creation_date').valid && updateForm.get('creation_date').touched"
                            class="help-block" style="color: red;">
                            Please enter a valid creation_date!
                         </span>  
                    </div>
                </div> 
                <div class="row">
                    <div class="col-md-12">
                        <button mat-raised-button color="primary" type="submit" style="width: 100%;"
                        [disabled]="!updateForm.valid">
                           <strong> Update Bank</strong>
                        </button>
                    </div>
                </div>
            </form>
        </mat-card>    
    </div>
</div>