<div class="row">
    <div class="col-md-11">
        <h1 mat-dialog-title>Edit Data</h1>
    </div>
    <div class="col-md-1">
        <mat-icon style="cursor: pointer;" (click)="closePop()">close</mat-icon>
    </div>
</div>
<!-- { id:0, userName:'Omar',  password:'1111',email:'Omer@gmail.com', creationDate:2001/20/10, birthDate:2001/20/10 } -->

<div class="row" *ngIf="this.user">
    <div class="col-md-12">
        <mat-card>
            <mat-card-header>
                <mat-card-title>User Data</mat-card-title>    
              </mat-card-header>
            <form [formGroup]="updateForm" (ngSubmit)="onSubmit()">
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field class="full-width">
                            <mat-label>Full Name</mat-label>
                            <input matInput formControlName="username" >
                            
                        </mat-form-field>
                         <span
                            *ngIf="!updateForm.get('username').valid && updateForm.get('username').touched"
                            class="help-block" style="color: red;">
                            Please enter a valid user name!
                         </span>             
                    </div>
                    <div class="col-md-6">
                        <mat-form-field class="full-width">
                            <mat-label>Email</mat-label>
                            <input matInput formControlName="email" >
                            
                        </mat-form-field>
                        <span
                            *ngIf="!updateForm.get('email').valid && updateForm.get('email').touched"
                            class="help-block" style="color: red;">
                            Please enter a valid Email!
                         </span>  
                    </div>
                </div> 
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field appearance="fill" class="full-width">
                            <mat-label>birthDate</mat-label>
                            <input matInput [matDatepicker]="dp1" disabled formControlName="birthDate">
                            <mat-datepicker-toggle matSuffix [for]="dp1"></mat-datepicker-toggle>
                            <mat-datepicker #dp1 disabled="false"></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field appearance="fill">
                            <mat-label>Completely disabled creationDate</mat-label>
                            <input matInput [matDatepicker]="dp2" disabled formControlName="creationDate">
                            <mat-datepicker-toggle matSuffix [for]="dp2"></mat-datepicker-toggle>
                            <mat-datepicker #dp2></mat-datepicker>
                        </mat-form-field>

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-7">
                        <mat-form-field appearance="fill" class="full-width">
                            <mat-label>Enter your password</mat-label>
                            <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" >
                            <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                        </mat-form-field>
                         <span
                            *ngIf="!updateForm.get('password').valid && updateForm.get('password').touched"
                            class="help-block" style="color: red;">
                            Please enter a valid Password!
                         </span>  
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <button mat-raised-button color="primary" type="submit" style="width: 100%;"
                        [disabled]="!updateForm.valid">
                           <strong> Update User</strong>
                        </button>
                    </div>
                </div>
            </form>
        </mat-card>    
    </div>
</div>